<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Demystifying Email Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
</head>
<body style="margin: 0; padding: 0;">
	<table align="center" border="0" cellpadding="0" width="600" style="border-collapse: collapse;">
		<tbody>
			<tr>
				<td align="center" bgcolor="#C41E3A" style="padding: 40px 0px 30px 0;">
					<img src="images/h1.gif" alt="Creating Email Magic" width="300" height="230" style="display: block;"/>
					<p>You have recieved a new contact form message. The contents of the message are:</p>
				</td>
			</tr> 

			<tr >
				<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
								<b>Lorem ipsum dolor sit amet!</b>
							</td>
						</tr>
						<tr>
							<td style="padding: 20px 0 30px 0">
								<p> 
									<%= message %> 
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td width="260" valign="top">
											<table border="1" cellpadding="0" cellspacing="0" width="100%">
												<tr>
													<td>
														<img src="images/newbalance.jpg" alt="" width="100%" height="140" style="display: block;"/>
													</td>
												</tr>
												<tr>
													<td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
														tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
														quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
														consequat. 
													</td>
												</tr>
											</table> 
										</td>
										<td style="font-size: 0; line-height: 0;" width="20">
											&nbsp;
										</td>
										<td width="260" valign="top">
											<table border="0" cellpadding="0" cellspacing="0" width="100%">
												<tr>
													<td>

														<img src="images/newbalance.jpg" alt="" width="100%" height="140" style="display: block;"/>
													</td>
												</tr>
												<tr>
													<td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
														tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
														quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
														consequat. 
													</td>
												</tr>
											</table> 
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr> 
			
			<tr >
				<td bgcolor="#00CC99" style="padding: 30px 30px 30px 30px;" align="right">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td width="75%">
								&reg; Takuma Bell 2016<br/>
								<a href="#" style="color: #ffffff;"><font color="#ffffff">Unsubscirbe</font></a> to this newsletter instantly.
							</td>
							<td align="right" width="25%">
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td>
											<a href="http://www.twitter.com/">
												<img src="http://www.twitter.com/" alt="Twitter"/>
											</a>
										</td>
										<td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
										<td>
											<a href="http://www.twitter.com/">
												<img src="http://www.facbook.com/" alt="Facebook"/>
											</a>
										</td>
									</tr>
								</table>
							</td>
						</tr> 
					</table>
				</td>
			</tr> 
		</tbody>
	</table>
</body>
</html>
