<section>
	<h1 class="order-page">Orders</h1>
	<div class="container">
		<div class="oContainer">
			<!-- looks into shared folder and renders the template in the _product.html.erb partial file -->
			<%= render "shared/product"  %>
		</div>

		<div class="new-product">
			<%= link_to 'New Product', new_product_path %>
			<%= link_to 'Products', products_path %>
		</div>
	</div><!--/.container-->

</section>