body {
	margin: 0;
	padding: 0;
	/*overflow-x: hidden;*/
}

/* Error Explanation */

#error_explanation {
	margin-top: 50px;

}
/* Edit Page */

.form-edit-heading {
	text-align: left;
	font-family: Oswald, sans-serif;
}

input[type=button].btn-block, 
input[type=reset].btn-block, 
input[type=submit].btn-block {
	width: 25%;
	font-family: Oswald,sans-serif;
}

#edit {
	position: relative;
	left: 30%;
	line-height: 1;

}

#update {
	width: 1300px;
}

#cancel {
	font-family: Oswald, sans-serif;
	position: relative;
	top: -80px;
	left: 36.3%;
	text-align: left;
	width: 20%;
 
 	a:hover {
		color: #0048BB;
		text-decoration: none;
		
	}
}

/* Sign up Page */

.btn-info {
	font-family: Oswald, sans-serif;
	position: relative;
	top: 13px;
  left: 0%;
  text-align: center;
  width: 25%;
	font-size: 1.5em;
}

#new_user{
	min-width: 200px;
  max-width: 500px;
}

.form-group {
  margin-bottom: 15px;
  width: 1300px;
}

#info {
	color: #fff;
}

#submit {
	font-family: Oswald, sans-serif;
	width: 325px;
}

#sign-up {
	position: relative;
	left: 30%;
	line-height: 1;
	
}

/* Log in */

#log-in {
	position: relative;
	left: 30%;
	line-height: 1;

}

.forgot {
	display: block;
}

.forgot a:hover {
	color: #0048BA;
	text-decoration: none;
}

