body {
	margin: 0;
	padding: 0;
}

/* Error Explanation */

#error_explanation {
	margin-top: 50px;

}
/* Edit Page */

.form-edit-heading {
	text-align: left;
	font-family: Oswald, sans-serif;
}

input[type=button].btn-block, 
input[type=reset].btn-block, 
input[type=submit].btn-block {
	width: 25%;
	font-family: Oswald,sans-serif;
}

#edit {
	position: relative;
	bottom: 85px;
	left: 27%;

}

#cancel {
	font-family: Oswald, sans-serif;
	position: relative;
	top: -80px;
	left: 36.3%;
	text-align: left;
	width: 20%;
}

#cancel a:hover {
	color: #0048BA;
	text-decoration: none;
}

/* Sign up Page */

.btn-info {
	font-family: Oswald, sans-serif;
	position: relative;
	top: 13px;
  left: 0%;
  text-align: center;
  width: 25%;
	font-size: 1.5em;
}

#forms {
	position: relative;
	left: 430px;
}

#info {
	color: #fff;
}

#submit {
	font-family: Oswald, sans-serif;
}

#sign-up {
	position: relative;
	/*background-color: red;*/
	margin: 225px auto;
	
}

/* Log in */

#log-in {
	position: relative;
	left: 30%;
	line-height: 10%;

}

.forgot {
	position: relative;
	left: 39.5%;
}

.forgot a:hover {
	color: #0048BA;
	text-decoration: none;
}

