

/* Carousel */
.container {
	
	margin-top: 15%;
	padding: 0px;
}

#caption1 {
	
	color: red;
	font-size: 2em;
	position: absolute;
  margin: 0 auto;


}

#caption2 {
	
	color: blue;
	font-size: 2em;
	position: absolute;
	width: 97px;

}

#caption3 {
	color: green;
	font-size: 2em;
	position: absolute;
	width: 97px;

	
}

 

/*#land1.item {
	margin-right: 10px;
  display: inline-block;
  position: relative;
  top: 0px;
}*/


#land1.item.active {

	margin-left: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

#land3.item {
	margin-left: 40%;
}

#landing {
	
	width: 60px;
	margin: auto;
	left: 47%;
}


/* End of Carousel */

.col-xs-4 {
	
	left: 15%;
	width: 460px;
}

img {
	margin-left: -15px;

}

.shoe-1 {
	position: absolute;
	top: 200px;
	left: 60px;
	width: 100%;
	color: #E62727;
	font-size: 4em;
}




.myContainer {
	
	margin: 5% auto;
	width: 1164px;
	height: 1800px;

}
