
$font: Laila, sans-serif;
/* Jumbotron */
#jumbo {
	background-image: image-url('sneaks_in_the_grass2.jpg');
	background-size: cover;
	color: #fff;
	font-family: $font;
}
/* Carousel */
.container {

	margin-top: 15%;
	padding: 0px;
}

#caption1 {

	color: red;
	font-size: 2em;
	position: absolute;
  margin: 0 auto;


}

#caption2 {

	color: blue;
	font-size: 2em;
	position: absolute;
	width: 97px;

}

#caption3 {
	color: green;
	font-size: 2em;
	position: absolute;
	width: 97px;


}



/*#land1.item {
	margin-right: 10px;
  display: inline-block;
  position: relative;
  top: 0px;
}*/


#land1.item.active {

	margin-left: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

#land3.item {
	margin-left: 40%;
}

#landing {

	width: 60px;
	margin: auto;
	left: 47%;
}


/* End of Carousel */

.extra-row {
	width: 1200px;
	height: 200px;
	margin-top: 30px;
}

.col-xs-4 {

	left: 15%;
	width: 460px;
}

img {

}

img.landShoe {
	position: relative;
	left: 23%;
	margin-bottom: 17px;
	width: 909px;
}

.shoe-1 {
	position: absolute;
	top: 200px;
	left: 460px;
	width: 100%;
	color: #E62727;
	font-size: 4em;
}




#myContainer {




}

/* More div */

#more {
	background: #000;
	width: 909px;
	height: 50px;
	color: #fff;
	text-align: center;
	position: relative;
  left: 194px;
  font-family: 'Oswald', sans-serif;
  margin: 7px 0px 11px -15px;
}

#kicks {
	font-size: 2em;
	a {
		text-decoration: none;
		color: #fff;
	}

	a:hover {
		color: #fff;
	}
}

#more2 {
	background: rgb(247,147,30);
	width: 909px;
	height: 50px;
	color: #000;
	text-align: center;
	position: relative;
  left: 194px;
  font-family: 'Oswald', sans-serif;
  margin: 7px 0px 11px -15px;
}

#kicks2 {
	font-size: 2em;
	a {
		text-decoration: none;
		color: #000;
	}

	a:hover {
		color: #fff;
	}
}
