.show {
	display: inline;
	font-family: Oswald, sans-serif;
	position: relative;
	left: 10%;
	word-spacing: 5px;

}

.show a:hover {
	color: #000;
	text-decoration: none;
}

.col-md-4 {
	display: block;
	font-family: Oswald, sans-serif;

}

.my-list {
	list-style-type: none;
	font-family: Oswald, sans-serif;
	font-size: 1.5em;
	padding: 2%;
}
 
.new-product {
	
	font-family: Oswald, sans-serif;
	text-decoration: none;
	padding-left: 2%;
	word-spacing: 5px;
}

.new-product a:hover {
	color: #000;
	text-decoration: none;
}

#pro-list {
	text-align: center;
}

.partial {
    background-color: aqua;
    top: 0;
}

/* Shoe boxes */
.pros {
	width: 200px;
	height: 255px;
	background-color: #FF0000;
	position: relative;
	left: 20%;
}

.nike-free-styles {
	text-align: left;
	word-spacing: -1px;
	font-family: Oswald, sans-serif;
	color: #000;
}

.nike-free-styles h5 {
	font-size: .8em;
}

.style_image {
	margin-left: 5px;
    margin-top: 10px;
    border-radius: 5px;
}


/* Detail Page */

.detail {
	margin-top: 5%;
	font-family: Oswald, sans-serif;
	font-size: 1.2em;

}

.detail a:hover {
	color: #000;
	text-decoration: none;
}