body {
	margin: 0;
	padding: 0;
	background-color: #e7e7e7;
	
}

h1 {
	color: black;
	padding-top: 40px;
	font-family: Lato, sans-serif;
}

h2 {
	font-family: Lato, sans-serif;	
}

/* Navbar */
.navbar{
	background-color: #000;

}


ul.nav.pull-right {
  display: -webkit-inline-box;
  display: -moz-inline-flex;
  position: relative;
  right: 128px;
  line-height: 26px;
  
}
.nav li a:focus {
	background-color: none;
}
#log {
	/*margin: 5px 40px 0 0;*/
	display: inline;
}

#alert {
	background-color: pink;
}


#bs-example-navbar-collapse-1 ul li a {
	color: #fff;
	font-family: Oswald, sans-serif;
	font-size: 1.2em;
}

#bs-example-navbar-collapse-1 a:hover {
	color: #E63B19;

}
 .navbar-header .navbar-brand a {
	color: #fff;
	font-family: Oswald, sans-serif;
}

.navbar-header .navbar-brand a:hover {
	color: #E63B19;
	text-decoration: none;
	background-color: transparent;
}


#alert {
 	background-color: #B284BE;
  width: 100%;
  position: absolute;
  top: 57px;
  text-align: center;
  padding: 2.5rem 0;
  margin: 0;
  color: #fff;
  font-size: 1.4rem;
  font-family: Oswald;
  letter-spacing: .2rem;
  opacity: .85;
}


/* Carousel */
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	margin: 0 auto;
}


img {
	margin-left: 0px;

}

.carousel-slide .carousel-indicators {
	z-index: -1;
}

.carousel-caption {
	bottom: 59%;
	left: 10%;
	font-family: Lato, sans-serif;
}

.carousel-indicators {
	bottom: 15%;
}

/* About page */
#about {
	text-align: center;
	font-family: Oswald, sans-serif;
}

#us {
	margin-top: 60px;
}

.newbalance {
	position: relative;
	left: -25%;
	opacity: .29;
  border-color: #e7e7e7;
  border-radius: 28%;

}

/* Contact page */

.form-control {
	width: 25%;
}

#contact {
	position: relative;
	left: 30%;
	line-height: 1;
	font-family: Oswald, sans-serif;
}

#contact_submit {
	width: 28%;
	font-family: Oswald, sans-serif;
}

/* Thank you */

.panel-default {
	margin-top: 58px;
	color: #3399FF;
}



	
/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
    font-family: Oswald, sans-serif;
    text-align: center;
    z-index: 1;
    
}


/*// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
