body {
	margin: 0;
	padding: 0;
}

h1 {
	color: black;
	padding-top: 40px;
	font-family: Lato, sans-serif;
}

h2 {
	font-family: Lato, sans-serif;	
}

/* Navbar */
.navbar{
	background-color: #000;

}

#bs-example-navbar-collapse-1 ul li a {
	color: #fff;
	font-family: Oswald, sans-serif;
}

#bs-example-navbar-collapse-1 a:hover {
	color: #E63B19;

}
 .navbar-header .navbar-brand a {
	color: #fff;
	font-family: Oswald, sans-serif;
}

.navbar-header .navbar-brand a:hover {
	color: #E63B19;
	text-decoration: none;
	background-color: transparent;
}

/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
    font-family: Oswald, sans-serif;
    text-align: center;
    z-index: 1;
}


/*// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
