<section>
	
		<p id="notice"><%= notice %></p>

		<h1 id="pro-list">Products</h1>
		


		<div class="partial">
		  <%= render "shared/product" %>
		</div>

		
		<div class="new-product">
			<%= link_to 'New Product', new_product_path %>
			<%= link_to 'Products', products_path %>
		</div>
	
</section>




